body {
    background-color: rgb(228, 215, 209);
}

.header {
    width: 30%;
	margin: 50px 400px 0px 400px;
	text-align: center;
    color: 	white;
    font-size: 25px;
	background: orangered;
	border: 1px solid orangered;
	border-radius: 10px 10px 0px 0px;
    padding: 3px;
    box-sizing: border-box;
}

.task-header {
    width: 40%;
	margin: 30px 400px 0px 400px;
	text-align: center;
    color: 	white;
    font-size: 25px;
	background: orangered;
	border: 1px solid orangered;
	border-radius: 10px 10px 0px 0px;
    padding: 3px;
    box-sizing: border-box;
}

.form {
    width: 30%; 
    height: 29rem;
    padding: 10px;
    margin: 0 auto;
    font-size: 18px; 
	border-radius: 0px 0px 10px 10px; 
	background: rgb(250, 248, 248);
	border: 1px solid orangered;
    box-sizing: border-box;
    box-shadow: 12px 12px 2px 1px rgba(229, 9, 9, 0.2);
}

.task-form {
    width: 40%; 
    height: 8rem;
    padding: 10px;
    margin: 0px 400px 0px 400px;
    font-size: 18px; 
	border-radius: 0px 0px 10px 10px; 
	background: rgb(250, 248, 248);
	border: 1px solid orangered;
    box-sizing: border-box;
}

.login-form {
    width: 30%; 
    height: 15rem;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    font-size: 18px; 
	border-radius: 0px 0px 10px 10px; 
	background: rgb(250, 248, 248);
	border: 1px solid orangered;
    box-sizing: border-box;
    box-shadow: 12px 12px 2px 1px rgba(229, 9, 9, 0.2);
}

.form-group1 {
    font-size: 18px;
    padding: 5px;
}

.input {
    /* margin: 5px; */
    width: 98%;

}

.task-input {
    width: 98%;
}

table {
    margin: 0px 400px 400px 400px;
    width: 40%;
}

th {
    text-align: center;
    border-bottom: 2px solid orangered;
}

tr {
    text-align: center;
}

a {
    padding-right: 10px;
}

input.logout {
    cursor: pointer;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 3px;
    margin-right: 0px;
    color: white;
    padding: 5px;
}
